
<div class="card">
    
    <div class="card-header">
        <p>Posted by {{user.name}}</p>
        <h4><a class="link" href="/routine/{{id}}">{{name}}</a></h4>
       
    </div>
    <div>
        
    </div>
    
</div>

