<div class="card">
    <div class="card-body">
        <h3 class="card-header">Create a new Routine</h3>
        <form id="routine-form">
            <div class="form-group">
                <label for="exampleInputName" for="routine-name">Name</label>
                <input type="text" class="form-control" id="routine-name" autofocus="true" class
                    aria-describedby="name">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Add</button>


        </form>
    </div>
    <section>
        <h1> {{routines.name}}</h1>

    </section>
</div>
<script src="./js/newRoutine.js"></script>