 <header>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Level Up Fitness</h1>
                    <p class="lead">A simpler way to track your progress</p>
                </div>
                
            </div>
    </header>  



<div class="card">
    <div class="card-body">
        <h3 class="card-header">Create a new Routine</h3>
        <form id="routine-form">
            <div class="form-group mt-4">
                <label for="exampleInputName" for="routine-name" id=" routine-name">Name</label>
                <input type="text" class="form-control mt-2" id="routine-name" autofocus="true" class
                    aria-describedby="name">
                    <button type="submit" class="btn btn-primary btn-lg mt-4">Add</button>
            </div>
            
            
            

       
       
    </div>
    
        

    </section>
</div>

<script src="./js/addRoutine.js"></script>