<div>
       {{!-- <button class="btn ml-4"><a class="back-to-profile" href='/profile'>Back To profile</a></button> --}}
  <h3 class="card-header ml-4 mt-4">Edit Exercise</h3>
  <button class="btn ml-4 mt-4"><a class="back-to-profile" href='/profile'>Back To profile</a></button>
  <p class="mt-4 ml-4">Build your custom routine and track your progress by creating an exercise.</p>
  <form id="edit-exercise-form" class="ml-4 mt-4">
      <div class="form-group">
          
              <label for="exampleInputName"   class="form-label">Name</label>
        <input class="form-control" id="exercise-name" name="exercise-name" class="form-input" />
              <label for="exampleInputName" class="form-label">Sets</label>
        <input class="form-control" id="exercise-sets" name="exercise-sets" class="form-input" />
              <label for="exampleInputName" class="form-label">Reps</label>
        <input class="form-control" id="exercise-reps" name="exercise-reps" class="form-input" />
              
      </div>
      <div>
      <button type="submit" class="btn btn-lg mr-4">Update Exercise</button>
     <button type="button" class="delete-post-btn btn btn-lg">Delete Exercise</button>
      
      </div>
  </form>
  <h1 id="alert"></h1>
  <h5 id="alert2"></h5>

  <script src="/js/edit-exercise.js"></script>
 