<h2 class="profile">Welcome to your Profile!</h2>

{{#if routines.length}}
<section> 
    <p class="ml-4 mt-4 mb-4"> Try clicking on a routine to view the exercises associated with your routine.</p>
    {{#each routines as |routine|}}
    {{> profile-info routine}}
    
    {{/each}}

</section>
{{/if}}

<br>
<div>
<button class="btn btn-lg ml-4"><a class="profile-link" href="/dashboard">Add Routine +</a></button>
</div>
 

 

