{{#if routines.length}}
<section>
    <h2>Your routines</h2>
    {{#each routines as |routine|}}
    {{> profile-info routine}}
    {{/each}}

</section>
{{/if}}

<button type="submit" id="new-routine" class="btn btn-primary btn-lg">Add Another Routine +</button>



 

  

