  <div id=" exerciseData" data-id="{{routine.id}}"></div>
  
  
  </form>
         <h3 class="card-header">Create a new Exercise</h3>
        <form id="exercise-form">
            <div class="form-group">
                <label for="exampleInputName" for="exercise-name" id=" exercise-name">Name</label>
                <input type="text" class="form-control" id="exercise-name" autofocus="true" class
                    aria-describedby="name">
                    <label for="exampleInputName" for="exercise-reps" id=" exercise-reps">Reps</label>
                <input type="text" class="form-control" id="exercise-name" autofocus="true" class
                    aria-describedby="name">
                    <label for="exampleInputName" for="exercise-sets" id=" exercise-sets">Sets</label>
                <input type="text" class="form-control" id="exercise-name" autofocus="true" class
                    aria-describedby="name">
                    <button type="submit" class="btn btn-primary btn-lg">Add</button>
            </div>
            <p>{{#each exercises}}
        {{name}}
        {{reps}}
        {{sets}}
        {{/each}}
       </p> 
            
            

        </form>