<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Level Up Fitness</title>
        <link rel = "stylesheet" href = "../../public/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
        
    </head>

        <body>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-header">Sign Up</h3>
                        <form id="signup-form">
                            <div class="form-group">
                                <label for="exampleInputName" for="name-signup">Name</label>
                                <input type="text" class="form-control" id="name-signup" autofocus="true" class aria-describedby="name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail" for="email-signup">Email</label>
                                <input type="text" class="form-control" id="email-signup" autofocus="true" class aria-describedby="email">
                            </div>
                            <div class="form-group">
                                <label for="password-login">Password</label>
                                <input type="password" class="form-control" autofocus="true" id="password-login">
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                        </form>
                </div>
            </div>

            <script> src="./public/js/signup.js" </script>
        </body>
</html>